
<div>
    <label for="usernmae">username</label><br>
    <input type="text" [(ngModel)]="username" name="username"><br>
    <label for="password">password</label><br>
    <input type="password" [(ngModel)]="password" name="password"><br>
    <button (click)="login()">iniciar</button>
</div> 


<!-- <div>
    <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="username" name="username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="password" name="password">
      </mat-form-field>
      <button (click)="login()">iniciar</button>
</div> -->

  